/* Estilo general */
body {
  background-color: #03142a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  color: #e0f7fa;
}

/* Título de la Practica*/
h1 {
  margin-bottom: 20px;
  color: #c2ebe5;
  text-shadow: 0 0 15px #c2ebe5;
}

/* Contenedor principal */
.calculator {
  background-color: transparent;
  border: 4px solid #168fa1;
  border-radius: 8px;
  padding: 5px;
  width: 260px;
}

/* Pantalla */
#display {
  width: 99%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #168fa1;
  border-radius: 8px;
  color: #e0f7fa;
  font-size: 1.5em;
  text-align: left;
  padding: 25px 0 25px 0;
  margin-bottom: 15px;
}

/* Botones */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background-color: transparent;
  border: 1px solid #168fa1;
  border-radius: 8px;
  color: #e0f7fa;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #22d3ee;
  color: #1e3a5f;
  box-shadow: 0 0 10px #22d3ee;
}

/* Botón 0 más ancho */
.cero {
  grid-column: span 2;
}

.igual {
    grid-row: span 2;
}

input::content {
    padding: 50px 0 30px 0;
}